body{
  background-color: red;
  background: rgb(187, 240, 15);

}
header {
  background-color:rgb(246, 208, 165);
  padding: 10px;
  text-align: center;
  font-weight: 600;
  }
table {
  color: rgb(0, 0, 0);
  text-align: center;
    font-family: arial, sans-serif;
    width: 50%;
    border-style: solid;
  }
  
  td, th {
    background-color: #0ae6fa;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
  }
  
  tr:nth-child(even) {
    background-color: #0ae6fa;
  }
  