
h3{
  background:rgb(240, 172, 15)
}
body{
background-color: red;
background: rgb(187, 240, 15);
max-width: 30rem;
height: 24rem;
padding: 30px;
font-size: 1rem;
border-radius: 2rem;
}
header {
  background-color:rgb(246, 208, 165);
  padding: 10px;
  text-align: center;
  font-weight: 600;
  }
  b{
    display: inline-block;
    width: 1em;
    height: 1em;
  }
